# Exclude environment files
.env
.gitignore

# Exclude virtual environment directories
venv/
env/

# Python bytecode
__pycache__/
*.py[cod]

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
